html, body {
    height: 99%;
}

div {
    border-radius: 2px;
    background-color: lightgrey;
    padding: 5px;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#kérdés_szöveg {
   /*text-align: justify;*/
   font: bold 21px arial;
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#középső div{
    margin: 2px;
    font: 1em arial;
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    overflow: hidden;
    max-width: 50%;
}

.gomb {
    padding: 20px;
    width: 80px;
    background-color: lightslategrey;
    text-align: center;
}

.kerdes {
    border: 2px solid;
    border-color: darkslategray;
}

.kattintható:hover{
    background-color: lightgoldenrodyellow;
    color: black;
}

.jó{
    background-color: lightgreen;
    color: white;
}

.rossz {
    background-color: lightcoral;
    color: white;
}

.rejtett{
    display: none;
}
